# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Test / coverage
htmlcov/
.coverage
.pytest_cache/

# Environment variables
.env